body {
    margin: 0;
    padding: 0;
    background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAACoAAAAoCAYAAACIC2hQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbRJREFUeNrsl91ugzAMhQMGJk3qNJVe7f0fb/+TWlqVskQ6YVYaCC2OduNIp6XCMV9DnCMXxpgX8zf2Vp/sN1nt8B2Oo9Ubrp+tHs30GBB7smqsWqsiEndGXG+1gUaQDQusrDqrSwLS3f9CQoM5NeZLQBrEu/HgPspIwjPg2hnIdyRySbZ48AdWeQ5yuwCyYYv3A40ryhN6yCoB6VenxvUBajA3BlkugGz9KmKuU0GMPAU5RCALtmU4rIP/vhOy4K8cOY6Ei34BZGqfVQD0sH0CsmeQFeohzDnCEiuqdmUxeFhCcfnToJ6AfGWFc2F/1MRgXdInaC2kHzWDPWIeTUAS/swJb4GmYP1KlkKQIewBwB42hNzhXoO4SdjwHL3n7NsjJgVLOML6yBlNKdgY6K0HdBds/DnYYcZIiBVjF8KGoCIuEimw1W5X5nCRHG4Xc6bVLoJ7om5HOVwkh9tRDhfJ4XZ8v4i5yMKVvMntvDOIuggeKup2hNct6iKIEXU7X/WiLiLQjly5HT/wxVxEoB25cjvtmbRn0p5JeybtmbRn0p5JeybtmbRn0p5Je6Z/6Jl+BRgAqFHkuKGmPZUAAAAASUVORK5CYII=");
  }
  
  h1 {
    font-size: 4em;
    padding: .6em 1.4em;
    font-family: monospace;
    color: #1650ff;
  }
  